Source: qmenumodel
Standards-Version: 4.7.4
Maintainer: UBports Developers <developers@ubports.com>
Uploaders: Debian UBports Team <team+ubports@tracker.debian.org>,
           Mike Gabriel <sunweaver@debian.org>,
Section: libs
Build-Depends: debhelper-compat (= 13),
               cmake,
               cmake-extras,
               dbus-test-runner,
               gir1.2-glib-2.0,
               libgles2-mesa-dev | libgl-dev,
               libglib2.0-dev,
               python3-dbus:native,
               python3-gi:native,
               python3:any,
               qml-module-qtquick2 <!nocheck>,
               qml6-module-qtquick <!nocheck>,
               qt5-qmake,
               qtbase5-dev,
               qtdeclarative5-dev,
               qt6-base-dev,
               qt6-declarative-dev,
Vcs-Browser: https://github.com/AyatanaIndicators/qmenumodel.git
Vcs-Git: https://github.com/AyatanaIndicators/qmenumodel.git
Homepage: https://github.com/AyatanaIndicators/qmenumodel

Package: libqmenumodel1
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Qt 5 binding for GMenuModel - shared library
 Qt binding for GMenuModel that allows connecting to a menu model exposed on
 D-Bus and presents it as a list model. It can be used to expose indicator or
 application menus for applications using the Qt framework.
 .
 This package contains the shared library required by applications using
 QMenuModel (Qt 5 variant).

Package: libqmenumodel-dev
Architecture: any
Section: libdevel
Depends: libqmenumodel1 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Qt 5 binding for GMenuModel - development files
 Qt binding for GMenuModel that allows connecting to a menu model exposed on
 D-Bus and presents it as a list model. It can be used to expose indicator or
 application menus for applications using the Qt framework.
 .
 This package contains the development headers for libqmenumodel (Qt 5 variant).

Package: qml-module-qmenumodel1
Architecture: any
Depends: libqmenumodel1 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Qt 5 binding for GMenuModel - QML module
 Qt binding for GMenuModel that allows connecting to a menu model exposed on
 D-Bus and presents it as a list model. It can be used to expose indicator or
 application menus for applications using the Qt framework.
 .
 This package contains the QML module for building applications using the
 QMenuModel library (Qt 5 variant).

Package: libqmenumodel-qt6-1
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Qt 6 binding for GMenuModel - shared library
 Qt binding for GMenuModel that allows connecting to a menu model exposed on
 D-Bus and presents it as a list model. It can be used to expose indicator or
 application menus for applications using the Qt framework.
 .
 This package contains the shared library required by applications using
 QMenuModel (Qt 6 variant).

Package: libqmenumodel-qt6-dev
Architecture: any
Section: libdevel
Depends: libqmenumodel1 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Qt 6 binding for GMenuModel - development files
 Qt binding for GMenuModel that allows connecting to a menu model exposed on
 D-Bus and presents it as a list model. It can be used to expose indicator or
 application menus for applications using the Qt framework.
 .
 This package contains the development headers for libqmenumodel (Qt 6 variant).

Package: qml6-module-qmenumodel
Architecture: any
Depends: libqmenumodel-qt6-1 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Qt 6 binding for GMenuModel - QML module
 Qt binding for GMenuModel that allows connecting to a menu model exposed on
 D-Bus and presents it as a list model. It can be used to expose indicator or
 application menus for applications using the Qt framework.
 .
 This package contains the QML module for building applications using the
 QMenuModel library (Qt 6 variant).
